@charset "utf-8";
//公共css属性，常见属性和样式重置
@import 'public';
//版心宽度
.contain{
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}
//顶部可关闭广告
.ad{
    position: relative;
    width: 100%;
    overflow: hidden;
    a{
        display: block;
        width: 1920px;
        text-align: center;
        position: relative;
        left: 50%;
        margin-left: -960px;
    }
    img{ 
        text-align: center;
        display: block;
    }
    .close_ad{
        position: absolute;
        display: block;
        top: 10px;
        right: 50px;
        width: 20px;
        height: 20px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        font-size: 18px;
        color: white;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
    }
}
@import 'index_header';
@import 'index_banner';
@import 'index_content';
.phone{
    height: 500px;
    background: lightblue;
}
.computer{
    height: 500px;
    background: lightsalmon;
}
.pad{
    height: 500px;
    background: lightcyan;
}
.bottom{
    height: 300px;
    background: grey;
}